*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p{
    font-family: 'Open Sans' sans-serif;
}

@media screen and (min-width: 320px) {
    .sys-page-wrapper, .sys-preloader{
        width: 100%;
        height: 100vh;
        display: table;
        background-color: #1C1C1C;
        border: 30px solid #000;
    }
    .sys-topbar{
        width: 100%;
        height: 110px;
        display: block;
        background-color: transparent;
        position: fixed;
        top: 0;
        left: 0;
    }
    .sys-logo{
        width: 75px;
        height: 110px;
        float: left;
        margin-left: 60px;
        background-color:#2ccb69;
        border-radius: 0 0 37px 0;
        text-align: center;

    }
    .sys-logo img{
        width: 57px;
        height: 42px;
        display: block;
        margin: 55px auto 0;
    }
    .sys-menu{
        display: none;
    }
    .sys-btn-contact{
        width: 45px;
        height: 45px;
        display: block;
        background-color: #2ccb69;
        background-image: url('../images/icon-contact-close.svg');
        background-repeat: no-repeat;
        position: fixed;
        bottom: 45px;
        right: 45px;
        border-radius: 50%;
        z-index: 200;
        transition: all 0.2s ease-out;
        border: none;
        cursor: pointer;
    }
    
    .sys-contact-info{
        width: 245px;
        height: 190px;
        padding: 15px;
        position: fixed;
        bottom: 115px;
        right: 65px;
        z-index: 200;
        display: none;
    }
    .sys-contact-info-inner p{
        font-size: 15px;
        line-height: 24px;
    }
    .sys-contact-info-inner{
        display: table;
        width: 100%;
        float: right;
    }
    .sys-social-links{
        width: 100%;
        height: 45px;
        display: block;
        position: relative;
        left: 12px;
        margin-top: 7px;
    }
    .sys-social{
        width: 45px;
        height: 45px;
        display: inline-block;
    }
    .sys-social > img{
        width: 20px;
        height: auto;
        display: block;
        margin: 15px auto 0;
    }
    .sys-corner{
        width: 25px;
        height: 25px;
        display: block;
        float: right;
        display: relative;
    }
    .sys-corner::after{
        content: '';
        width: 23px;
        height: 25px;
        display: block;
        position: absolute;
        bottom: -25px;
        right: 0;
        background: transparent url('../images/corner.svg') no-repeat;
    }
    /*HOME*/
    .sys-display-text{
        margin-top: 15%;
    }
    .sys-title-big{
        font-size: 120px;
    }

    #sys-home-presentation{
        background-image: url('../images/Home_model.png');
        background-repeat: no-repeat;
        background-position: 75% bottom;
        position: relative;
    }
}

@media screen and (min-width: 576px) {
    
}

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 992px) {
    .sys-menu{
        display: table;
        float: left;
        height: 110px;
        margin-left: 30px;
    }
    .sys-menu a{
        font-family: 'Open Sans';
        font-size: 16px;
        color: #bcbcbc;
        text-decoration: none;
        text-transform: lowercase;
        display: inline-block;
        margin: 50px 20px 0 20px;
        margin-top: 50px;
        font-weight: 400;
        position: relative;
    }
    .sys-menu a:first-child{
        margin-left: 0;
    }
    .sys-menu a:hover {
        color: #2ccb69;
    }
    .sys-menu a::before{
        content: '';
        width: 100%;
        height: 4px;
        background-color: #2ccb69;
        display: block;
        position: absolute;
        bottom: -6px;
        left: 0;
        transition: all 0.2s ease-out;
        transform: scale(0,1);
        transform-origin: center left;
    }
    .sys-menu a:hover::before{
        transform: scale(1, 1);
    }
}

@media screen and (min-width: 1200px) {
    
}

@media screen and (min-width: 1364px) {
    
}

@media screen and (min-width: 1600px) {
    
}
/*BOTÕES*/

/*CLASSES UTILITARIAS*/

.sys-title {
    font-family: 'Abri Fatface', serif;
    font-weight: normal;
}
.sys-text-green{
    color: #2ccb69;
}
.sys-text-dark{
    color: #4d4c4c;
}
.sys-text-light{
    color: #bcbcbc;
}
.sys-text-black{
    color: #000;
}
.sys-bg-grenn{
    background-color: #2ccb69;
}

.sys-bg-dark{
    background-color: #4d4c4c;
}

.sys-bg-light{
    background-color: #bcbcbc;
}

.sys-bg-black{
    background-color: #000;
}
.sys-full-height{
    height: 100vh;
    
}

.sys-first-section{
    height: calc(100vh - 30px);
}

/*CLASSES DE COMPORTAMENTO*/

.sys-is-open{
    display: block;
}
.sys-change-icon{
    background-position-y: -45px;
}